<h3>StaticPages#home</h3>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>If you would like to receive more information about Uzeema, please click here:
<%= link_to "Try", try_path %>
</p>

<p>If you would like to try out Uzeema, please click here:
<%= link_to "Contact", contact_path %>
</p>
