<html>

	<h3>StaticPages#try</h3>
	<p>Find me in app/views/static_pages/try.html.erb</p>
	<script id="TB_embed_js" src="http://api.opentok.com/hl/embed/1embc2d33752f3eb8c55314cfd2715d6d86165ed/embed.js?width=350&height=265" 		type="text/javascript" charset="utf-8"></script>

</html>
