/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* TRL: Moved this in from static_pages.css in order to see if this gets it precompiled in Heroku */
header h1 {
  font-size: 48px;
  color: #000;
  padding-left: 120px;
  margin-top: 0px;
}

header h2 {
  font-size: 20px;
  color: #000;
  padding-left: 120px;
  margin-top: 0px;
}

header {
  background-image: url("uzeema-color.png");
  background-size: 100px 60px;
  background-repeat: no-repeat;
  background-position: top left;
  height: 80px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

header small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

header ul {
  float: right;
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 10px;
}

static-body {
font-size: 16px;
color: #999;

}a