header h1 {
  font-size: 48px;
  color: #000;
  padding-left: 120px;
  margin-top: 0px;
}

header h2 {
  font-size: 20px;
  color: #000;
  padding-left: 120px;
  margin-top: 0px;
}

header {
  background-image: url("uzeema-color.png");
  background-size: 100px 60px;
  background-repeat: no-repeat;
  background-position: top left;
  height: 80px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

header small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

header ul {
  float: right;
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 10px;
}

static-body {
font-size: 16px;
color: #999;

}

more-gibberish {
	
}
